<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavoar.sgp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_v1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_v1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".possiveldedeletar.LoginActivity3" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.HistoriaActivity" />
        <activity android:name=".activity.ContatosActivity" />
        <activity android:name=".activity.EventosActivity" />
        <activity android:name=".activity.MembrosPastoralActivity" />
        <activity android:name=".activity.CasamentoActivity" />
        <activity android:name=".activity.DizimoActivity" />
        <activity
            android:name=".activity.PrincipalActivityAdmin"
            android:theme="@style/adminTheme" />
        <activity
            android:name=".activity.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmL9N_sb0Fb7e7_fb8pPB6_o0KbzGQiIQ" />

        <activity
            android:name=".activity.LocalizacaoActivity"
            android:label="@string/title_activity_localizacao" />
        <activity android:name=".activity.MensagemParocoActivity" />
        <activity android:name=".activity.AdicionarMensagemActivity" />
        <activity android:name=".activity.BatismoActivity" />
        <activity android:name=".possiveldedeletar.MainActivity3" />
        <activity android:name=".possiveldedeletar.PrincipalActivityAdmin3" />
        <activity android:name=".activity.ControleFinanceiroActivityAdmin" />
        <activity android:name=".activity.EventosActivityAdmin" />
        <activity android:name=".activity.NovoEventoActivityAdmin" />
        <activity android:name=".activity.PastoralActivityAdmin" />
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".possiveldedeletar.LoginActivity2"></activity>
    </application>

</manifest>